body {
    padding: 0;
    margin: 0;
}

.champ {
    background-color: #FFF;
    text-align: center;
    border: 1px solid black;
    height: 35px;
    width: 100%;
    font-size: 25px;
}

p {
    text-align: center;
    font-size: 40px;
}

input.button {
    padding: 15px 25px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-blue {
    background-color: #2780E3;
    color: #FFF;
    padding: 8px 15px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.decimal {
    text-align: center;
    border: 2px;
    width: 400px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.hexadecimal {
    text-align: center;
    border: 2px;
    width: 400px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.binaire {
    text-align: center;
    border: 2px;
    width: 400px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
    border: 1px solid#2780E3;
    width: 500px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}